<header>
    <nav class="navbar">
        <a href="/admin/profile">Profile</a>
        <a href="/admin/sports">Sports</a>
        <a href="/admin/sportPlaces">SportPlaces</a>
        <a href="/admin/classes">Classes</a>
        <a class="active" href="/admin/events">Events</a>
        <a href="/admin/users">Users</a>
        <a href="/admin/timeSlot">Slots</a>
        <a href="/admin/allVenue">Reserved Venue</a>
        <a href="/admin/logout">Logout</a>
    </nav>
</header>

<h1>{{title}}</h1>

<h2>We have {{n}} events.</h2>

<p>-----------------------------------------------------------------------</p>

<h3>List of Events:</h3>
<div id="eventList">
    <ul>
        {{#each events}}
        <li><a href="/admin/events/{{eventID}}">{{eventName}}</a></li>
        {{/each}}
    </ul>
</div>