{{!--

login form handlebar template

--}}

<h1>{{title}}</h1>

<h2>Welcome {{firstName}}, you're an admin.</h2>

<a href="/admin/sports">Sports</a>
<br>

<a href="/admin/sportPlaces">Sport Places</a>
<br>

<a href="/admin/classes">Classes</a>
<br>