<header>
  <nav class="navbar">
    <a href="/" class="logo">Sportify</a>

    <a href="/events/{{sport}}">Events</a>
    <a href="/classes/{{sport}}">Classes</a>
    <a href="/venue/{{sport}}">Reserve Venue</a>
    <a href="*">Places</a>

    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>

  </nav>
</header>


<h2>Your classes for : {{sport}}</h2>