<header>
    <nav class="navbar">
        <a href="/" class="logo">Sportify</a>
        <a href="/myevents">MyEvents</a>
        <a class="active" href="/myclasses">MyClasses</a>
        <a href="/myVenue">MyVenue</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<h1 class="centertitle">My Classes:</h1>

<div id="myclasses">
    {{#if classList}}
    <ul>
        {{#each classList}}
        <li><a href="myclasses/{{this._id}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
    {{else}}
    <p>Sorry! No classes found.</p>
    {{/if}}
</div>