<header>
    <nav class="navbar">
        <a href="/">Back</a>
    <a href="/logout">Logout</a>
    </nav>
</header>

<h2>My Classes</h2>

<div id="myclasses">
    <ul>
        {{#each classList}}
            <li><a href="myclasses/{{this._id}}">{{this.title}}</a></li>
        {{else}}
            <p>Sorry!<br /> No classes found</p>
        {{/each}}
    </ul>
</div>